{%  extends 'base.html'%}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">


    <div class="categories">
     {% for category in categorys%}
     <button class="btn btn-light"> {{category.name}}</button>
     {% endfor %}
</div>


<div class="row card-container mb5"  >
 {% for product in products%}

        <div class="col">
    <div class="card" style="width: 18rem;">
        <div>
            <img class="card-img-top" src="{{product.image}}"   alt="">
<!--            {% if   product.image.size == Null%}-->
<!--            product.image = "{ %static 'img/fallback.png' %}"-->
<!--            {% endif %}-->
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                 <p class="card-text"><h6> ksh:{{product.price}}</h6></p>
<!--                <p class="card-text"> {{product.description}}</p>-->
                <p class="card-text"> Stock:{{product.stock}}</p>
                <a href="#" class="btn btn-primary">add to cart</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>


{% endblock %}